:host {
}
.message {
  display: grid;
  grid-column-gap: 1px;
}

.message.removed {
  display: none;
}

.avatar {
  grid-area: avatar;
  width: 50px;
  height: 50px;
}

.text {
  display: block;
  grid-area: text;
  width: fit-content;
  padding: 1rem;
  color: midnightblue;
}

.message {
  justify-content: start;
  grid-template-areas: 
  "avatar text"
  ". feedback ";
}
.message .avatar {
  background: url('/data/andy.jpg');
}
.author-hub .avatar {
  background-color: blueviolet;  
  background: url('/assets/logo.png')
}
.author-hub .text {
  border: 2px solid #EEE;
  border-radius: 15px 15px 15px 0px;
}

.feedback {
  grid-area: feedback;
}

.author-user {
  justify-content: end;
  grid-template-areas: 
  "text avatar"
  "feedback .";
  cursor: pointer;
}
.author-user .feedback {
  display: none;
}

.author-user .avatar {
  background-color: cornsilk;
  border-radius: 25px;
  display: none;
}
.author-user .text {
  background-color:dodgerblue;
  color: white;
  border-radius: 15px 15px 0px 15px;
}