:host {
  display: block;
}
.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e0e0e0;
}

.input {
  flex-grow: 1;
  padding: 6px 10px;
  border: none;
  outline: none;
  resize: none;
  font-size: 14px;
  height: 100%;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #0077c2;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.send-button:hover {
  background-color: #005ea6;
}